<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CreateItem</title>
</head>
<body>
<form action="#" th:action="@{/CreateItem}" th:object="${item}" method="post">
    <label for="description">Description</label>
    <textarea type="text" th:field="*{description}" id="description" placeholder="description"></textarea>
    <label for="created">created</label>
    <input  type="date" th:value="*{created}" id="created" placeholder="created">
    <br/>
    <input type="submit" value="Create Item">
</form>
</body>
</html>